// Minimal template style

// Custom avatar size on homepage
.avatar {
  width: auto;
  height: auto;
  max-width: 570px;
  max-height: 570px;
}


#profile .network-icon {
  margin-top: 1rem;
}

ul.network-icon .big-icon {
  font-size: 2.0rem;
}

.network-icon li {
  @include media-breakpoint-down(sm) {
    /* Min 48px Lighthouse tap targets on mobile */
    margin-right: 12px;
  }
}

.dark .portrait-title h3 {
  color: rgba(255, 255, 255, 0.9);
  font-weight: bold;
}

.dark .portrait-title h2 {
  color: #fff;
  font-weight: bold;
}
